.FooterRegisterDiv {
	margin: 10% 5%;
	text-align: center;
}

.FooterRegisterUl {
	display: flex;
	list-style-type: none;
	font-size: 14px;
}

.FooterRegisterUl li {
	color: #dadce6;
}
.FooterRegisterUl li span {
	color: blue;
	margin-left: 10px;
	cursor: pointer;
}

.FooterRegisterDiv p {
	font-size: 14px;
	color: #7f87b1;
}




@media screen and (max-width: 720px) and (min-width: 401px) {
	.FooterRegisterDiv {
		margin: 10% 0;
		text-align: center;
		width: 720px;
	}

	.FooterRegisterUl {
		display: flex;
		list-style-type: none;
		font-size: 10px;
	}

	.FooterRegisterDiv p {
		font-size: 14px;
		color: #7f87b1;
		text-align: left;
		font-size: 10px;
	}
}